
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Courier Prime', sans-serif;
}

h1 {
  color: #00008b;
  font-size: 562.5%;
  margin-top: 50px auto 0 auto;
  font-family: 'Courier Prime', sans-serif;
}

h2 {
  color: #00008b;
  font-size: 2.5rem;
  font-family: 'Courier Prime', sans-serif;
  font-weight: normal;
}

h3 {
  color: #00008b;
  font-family: 'Courier Prime', sans-serif;
  }

div {
  background-color: #FAEBD7;
}
hr {
  border: dotted #00008b 6px;
  border-bottom: none;
  width: 60%;
  margin: 50px auto;
}
a {
  margin: 10px 20px;
}
a:hover {
  color: #00008b;
}

.top-container {
  background-color: #FAEBD7;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.copyright {
  color: #00008b;
}

.top-cloud {
  position: absolute;
  right:200px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 30px;
  bottom: 300px;
}
.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.wifi-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.btn {
  background: #b8d4e6;
  background-image: -webkit-linear-gradient(top, #b8d4e6, #39a2e3);
  background-image: -moz-linear-gradient(top, #b8d4e6, #39a2e3);
  background-image: -ms-linear-gradient(top, #b8d4e6, #39a2e3);
  background-image: -o-linear-gradient(top, #b8d4e6, #39a2e3);
  background-image: linear-gradient(to bottom, #b8d4e6, #39a2e3);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  text-shadow: 1px 1px 3px #0a040a;
  font-family: 'Courier Prime', sans-serif;
  color: #fcfcfc;
  font-size: 20px;
  background: #3498db;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #6fc5f7;
  background-image: -webkit-linear-gradient(top, #6fc5f7, #78bcf0);
  background-image: -moz-linear-gradient(top, #6fc5f7, #78bcf0);
  background-image: -ms-linear-gradient(top, #6fc5f7, #78bcf0);
  background-image: -o-linear-gradient(top, #6fc5f7, #78bcf0);
  background-image: linear-gradient(to bottom, #6fc5f7, #78bcf0);
  text-decoration: none;
}
